<template>
  <div class="about-wrapper">
    <div class="breadcrumb-wrapper">
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-12">
            <div class="breadcrumb-content">
              <h2>{{ title }}</h2>
              <nav aria-label="breadcrumb" dir="rtl">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <router-link :to="{ name: 'IndexPage' }">خانه</router-link>
                  </li>
                  <i class="fa-solid fa-chevron-left icon"></i>
                  <li class="breadcrumb-item active" aria-current="page">
                    {{ title.slice(0, title.indexOf(' ')) }}
                  </li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="about-descriptions section-padding">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="preview-image">
              <img src="../assets/images/image-10.png" class="img-fluid"/>
            </div>
          </div>
          <div class="col-md-6">
            <div class="desc">
              <h4>درباره FamilySecure</h4>
              <p class="text-muted">
                برنامه FamilySecure در سال 99 توسط شرکت موج حامی رسانه توسعه داده شده است. FamilySecure ابزاری
                برای نظارت است و بسیاری از برنامه‌ها و پلتفرم‌های شبکه‌های اجتماعی را تحت پوشش قرار می‌دهد، به طوری که پیام‌ها،
                محتوای ذخیره شده در دستگاه، ایمیل‌های ارسال شده و نیز فعالیت‌های صورت گرفته در رسانه‌های اجتماعی را بررسی کرده
                و با اسکن آن‌ها در صورت مشاهده نشانه‌هایی از خطرات دیجیتال هشدار می‌دهد.
              </p>
            </div>
          </div>

          <div class="row mt-150">
            <div class="col-lg-7 order-2 order-md-1">
              <div class="desc">
                <h4>کمک به حفظ امنیت کودکان و سالمندان</h4>
                <p class="text-muted">
                  ما بر این باور هستیم که پدر و مادر بودن مهم‌ترین شغل در جهان است و به همین دلیل برای این شغل بهترین
                  ابزار را ارائه کرده‌ایم تا والدین بتوانند در هر لحظه از فعالیت‌های فرزند خود آگاه باشند و توسط آن
                  از وقوع خطرهای احتمالی جلوگیری کرده و زندگی فرزندان خود را ایمن کنند. علاوه بر این، برنامه FamilySecure بهترین
                  ابزار برای محافظت از سالمندان خواهد بود زیرا به طور نامحسوس اطلاعات مکانی، فعالیت‌ها و سلامتی آن‌ها را در اختیار مراقبان
                  قرار می‌دهد.
                </p>
              </div>
            </div>
            <div class="col-lg-5 order-1 order-md-2">
              <div class="preview-image">
                <img src="../assets/images/image-11.svg" class="img-fluid"/>
              </div>
            </div>
          </div>

          <div class="row mt-150">
            <div class="col-lg-7 order-1 order-md-2">
              <div class="desc" style="margin-top: 100px">
                <h4>کنترل کارمندان</h4>
                <p>
                  بخش دیگری از مأموریت ما کمک به کارآمدتر کردن کسب و کارها می‌باشد. FamilySecure ابزاری را در
                  اختیار مدیران قرار می‌دهد تا اطلاعاتی در مورد دستگاه‌ها و رایانه‌های مورد نظر به دست آورند. این برنامه به
                  مدیران کمک می‌کند تا به واسطه غیرفعال کردن دسترسی به وب‌سایت‌ها و برنامه‌های آنلاین بهره‌وری کارمند را افزایش دهند.
                  مدیرعامل‌ها، مدیران فناوری اطلاعات، تیم‌های منابع انسانی در سازمان‌هایی با هر نوع و اندازه‌ می‌توانند عملیات سازمان را با
                  دو عامل "مشاهده" و "کنترل" بهبود بخشند.
                </p>
              </div>
            </div>
            <div class="col-lg-5 order-2 order-md-1">
              <div class="preview-image">
                <img src="../assets/images/image-12.svg" class="img-fluid"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AboutPage',
  data() {
    return {
      title: 'درباره ما'
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../assets/styles/variables';

.breadcrumb-wrapper {
  background: url("../assets/images/image-9.jpg") no-repeat center;
  background-size: cover;
  height: 450px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background: linear-gradient(to left, $color-5, $color-9);
    opacity: .9;
    width: 100%;
    height: 100%;
  }

  .breadcrumb-content {
    position: relative;
    z-index: 10;
    margin-top: 3.75rem;

    h2 {
      font-size: 2.25rem;
      color: $white;
      margin-bottom: 1rem;
      text-align: center;
    }

    nav {
      display: flex;
      justify-content: center;

      .breadcrumb {
        display: flex;
        align-items: center;

        .icon {
          margin: 0 .5rem;
          font-size: 10px;
          color: $white;
        }

        .breadcrumb-item {
          color: $white;

          &.active {
            font-weight: 600;
          }

          &:last-child::before {
            display: none;
          }

          a {
            color: $white;
            opacity: .8;
          }
        }
      }
    }
  }
}

.about-descriptions {
  .preview-image {
    margin: 1rem 0;
  }

  .desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1rem;
    font-weight: 600;

    h4 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
  }
}
</style>
