<template>
  <div class="contact-wrapper">
    <div class="breadcrumb-wrapper">
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-12">
            <div class="breadcrumb-content">
              <h2>{{ title }}</h2>
              <nav aria-label="breadcrumb" dir="rtl">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <router-link :to="{ name: 'IndexPage' }">خانه</router-link>
                  </li>
                  <i class="fa-solid fa-chevron-left icon"></i>
                  <li class="breadcrumb-item active" aria-current="page">
                    {{ title.slice(0, title.indexOf(' ')) }}
                  </li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="contact-form-wrapper section-padding">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8 col-lg-7">
            <div class="title">
              <h2>تماس با ما</h2>
            </div>
          </div>
          <div class="col-lg-7">
            <div class="form-wrapper">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <input
                        type="text"
                        class="form-control"
                        v-model="contactData.name"
                        placeholder="نام و نام خانوادگی *"/>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <input
                        type="text"
                        class="form-control"
                        v-model="contactData.email"
                        placeholder="ایمیل *"/>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <input
                        type="text"
                        class="form-control"
                        v-model="contactData.phone"
                        placeholder="شماره تماس"/>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <input
                        type="text"
                        class="form-control"
                        v-model="contactData.subject"
                        placeholder="موضوع"/>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <textarea
                        type="text"
                        class="form-control"
                        v-model="contactData.message"
                        rows="6"
                        cols="30"
                        placeholder="پیام شما *">
                    </textarea>
                  </div>
                </div>
                <div class="col-12 d-flex justify-content-center">
                  <button
                      class="btn send-btn"
                      @click="sendMessage"
                  >
                    ارسال پیام
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ContactPage',
  data() {
    return {
      contactData: {
        name: '',
        email: '',
        phone: '',
        subject: '',
        message:''
      },
      title: 'تماس با ما'
    }
  },
  methods: {
    sendMessage() {
      console.log(this.contactData)
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../assets/styles/variables';

.breadcrumb-wrapper {
  background: url("../assets/images/image-9.jpg") no-repeat center;
  background-size: cover;
  height: 450px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background: linear-gradient(to left, $color-5, $color-9);
    opacity: .9;
    width: 100%;
    height: 100%;
  }

  .breadcrumb-content {
    position: relative;
    z-index: 10;
    margin-top: 3.75rem;

    h2 {
      font-size: 2.25rem;
      color: $white;
      margin-bottom: 1rem;
      text-align: center;
    }

    nav {
      display: flex;
      justify-content: center;

      .breadcrumb {
        display: flex;
        align-items: center;

        .icon {
          margin: 0 .5rem;
          font-size: 10px;
          color: $white;
        }

        .breadcrumb-item {
          color: $white;

          &.active {
            font-weight: 600;
          }

          &:last-child::before {
            display: none;
          }

          a {
            color: $white;
            opacity: .8;
          }
        }
      }
    }
  }
}

.contact-form-wrapper {
  .title {
    margin-bottom: 4rem;

    h2 {
      font-size: 2.5rem;
      text-align: center;
    }
  }

  .form-wrapper {
    .form-group {
      margin-bottom: 1.75rem;

      .form-control {
        padding: 10px 30px;
        background: $color-6;
        border: 1px solid $color-6;
        min-height: 60px;
        font-size: 13px;

        &:focus {
          box-shadow: none;
          border-color: $color-5;
        }
      }

      textarea {
        padding: 15px 30px !important;
      }
    }

    .send-btn {
      background: $green;
      border-radius: 2px;
      border: 1px solid $green;
      padding: 10px 30px;
      color: $white;
      font-size: 1rem;
      transition-duration: 500ms;
      margin: 2rem 0;

      &:hover {
        background: $color-5;
        border-color: $color-5;
      }
    }
  }
}
</style>
