<template>
  <div class="wrapper">
    <div class="welcome-wrapper">
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-md-7">
            <div class="content-wrapper">
              <h3>پیشرفته&zwnj;ترین برنامه کنترل والدین</h3>
              <p>
                آیا دغدغه نظارت بر فرزندان، سالمندان و کارمندان خود را دارید؟ با برنامه
                <strong>FamilySecure</strong> شما همواره در جریان فعالیت‌های آن‌ها در زمان واقعی خواهید بود.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="banner-bottom">
        <img src="../assets/images/pattern.png" class="w-100 img-fluid"/>
      </div>
    </div>
    <div class="details-counts-wrapper section-padding">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-lg-3">
            <div class="detail-count" data-aos="flip-up" data-aos-delay="200">
              <h3>1990</h3>
              <p>مشتری راضی</p>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="detail-count" data-aos="flip-up" data-aos-delay="400">
              <h3>551</h3>
              <p>عضو متخصص</p>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="detail-count" data-aos="flip-up" data-aos-delay="600">
              <h3>5000</h3>
              <p>دریافت برنامه</p>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3" data-aos="flip-up" data-aos-delay="800">
            <div class="detail-count">
              <h3>6000</h3>
              <p>مشتری</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="features-wrapper grey-bg section-padding">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8 col-lg-7">
            <div class="title-wrapper">
              <h2>برخی از ویژگی‌های برنامه</h2>
              <p>
                FamilySecure به دلیل ویژگی‌های قدرتمند و کاملی که دارد، برنامه‌ای شگفت انگیز است. (جهت مشاهده ویژگی‌های بیشتر می‌توانید به صفحه قابلیت‌ها مراجعه نمائید.)
              </p>
            </div>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-md-6 col-lg-4">
            <div class="features-content">
              <div class="feature" v-for="(feature, index) in features1" :key="index">
                <div class="image-wrapper">
                  <img :src="feature.image" class="img-fluid"/>
                </div>
                <div class="text-wrapper">
                  <h4>{{ feature.title }}</h4>
                  <p>{{ feature.description }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 image-col">
            <div class="feature-image-wrapper">
              <img src="../assets/images/image-1.png" class="img-fluid"/>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="features-content">
              <div class="feature" v-for="(feature, index) in features2" :key="index">
                <div class="image-wrapper">
                  <img :src="feature.image" class="img-fluid"/>
                </div>
                <div class="text-wrapper">
                  <h4>{{ feature.title }}</h4>
                  <p>{{ feature.description }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="services-wrapper section-padding">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8 col-lg-7">
            <div class="title-wrapper">
              <h2>برخی از خدماتی که ما ارائه می‌دهیم</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-4" v-for="(service, index) in services" :key="index">
            <div class="service">
              <img :src="service.image">
              <h5>
                <router-link to="#">{{ service.title }}</router-link>
              </h5>
              <p>{{ service.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="information-wrapper grey-bg section-padding">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="info-content">
              <h2>تحقیقات آماری نگران کننده و رفع نگرانی با برنامه FamilySecure</h2>
              <p>
                با FamilySecure تمام ابزارهای مورد نیاز جهت محافظت از زندگی دیجیتال فرزند خود را دارید.
              </p>
              <h5>جلوگیری از کلاهبرداری‌های اینترنتی</h5>
              <p>
                50 درصد از قربانیان اینترنتی بین 12 تا 15 سال سن دارند. FamilySecure به شما کمک می‌کند تا با فرزندان
                خود در مورد نحوه شناسایی مجرمان اینترنتی و محافظت از خودشان گفت‌وگوی مؤثری داشته باشید.
              </p>
              <h5>رفع مشکلات خواب فرزندان</h5>
              <p>
                73 درصد از دانش‌آموزان دبیرستانی به اندازه کافی نمی‌خوابند. این می‌تواند منجر به مشکل در یادگیری،
                خلق‌وخو و درگیری‌های بین فردی شود. از FamilySecure برای تنظیم زمان‌های استراحت قبل از خواب استفاده نمائید
                تا فرزندانتان بتوانند از نور آبی مختل کننده خواب در امان بمانند.
              </p>
              <h5>حل مسائل آموزشی کودکان</h5>
              <p>
                تحقیقات نشان می‌دهد 63 درصد از کودکانی که روزانه بیش از 2 ساعت از صفحه نمایش استفاده می‌کنند، عملکرد تحصیلی پایینی
                نسبت به کودکانی دارند که زمان کم‌تری را به صورت آنلاین می‌گذرانند. از FamilySecure برای کاهش استفاده
                از دستگاه و تشویق آن‌ها به بازدید از وب سایت‌های آموزشی استفاده کنید.
              </p>
              <h5>رفع مسائل مربوط به روان</h5>
              <p>
                افسردگی شدید از سال 2010، همزمان با افزایش مالکیت تلفن همراه، 58 درصد افزایش یافته است. FamilySecure
                می‌تواند به شما کمک کند مدت زمانی را که فرزندتان به صفحه نمایش اختصاص می‌دهد، محدود کنید.
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info-image">
              <img src="../assets/images/image-3.png" class="img-fluid"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="roadmap-wrapper">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8 col-lg-7">
            <div class="title-wrapper">
              <h2>فقط چند کلیک با شروع فاصله دارید</h2>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-sm-6 col-md-4">
            <div class="step-wrapper">
              <div class="step">
                <div class="step-icon">
                  <img src="../assets/images/image-4.png" class="img-fluid"/>
                </div>
                <h4>ثبت‌نام</h4>
                <p>
                  ثبت‌نام کنید و سپس در پنل کاربری خود پکیج آزمایشی را انتخاب نمائید.
                </p>
              </div>
              <ThemifyIcon icon="angle-double-left" class="icon"/>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="step-wrapper">
              <div class="step">
                <div class="d-flex align-items-center">
                  <div class="step-icon">
                    <img src="../assets/images/image-5.png" class="img-fluid"/>
                  </div>
                </div>
                <h4>دانلود و نصب برنامه</h4>
                <p>
                  لینک دانلود اپلیکیشن به شما ایمیل خواهد شد تا بدین وسیله برنامه را دانلود و نصب کنید.
                </p>
              </div>
              <ThemifyIcon icon="angle-double-left" class="icon"/>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="step-wrapper">
              <div class="step">
                <div class="step-icon">
                  <img src="../assets/images/image-6.png" class="img-fluid"/>
                </div>
                <h4>شروع و نظارت</h4>
                <p>
                  با استفاده از نام کاربری و گذرواژه وارد حساب کاربری خود شوید و کنترل افراد مورد نظر خود را شروع کنید.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="description-wrapper grey-bg section-padding">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-5">
            <div class="image-wrapper" data-aos="zoom-in" data-aos-delay="400">
              <img src="../assets/images/image-7.png" class="img-fluid"/>
            </div>
          </div>
          <div class="col-md-7">
            <div class="descriptions">
              <h2>FamilySecure چگونه کار می‌کند؟</h2>
              <div class="row">
                <div class="col-lg-6">
                  <div class="desc-content">
                    <div class="icon-wrapper green">
                      <img src="../assets/images/cube-icon.jpg" class="img-fluid"/>
                    </div>
                    <div class="text-wrapper">
                      <h5>نظارت</h5>
                      <p>
                        بر عکس و ویدئوهای ذخیره شده در دستگاه و هم‌چنین بر پیام‌های متنی, ایمیل‌ها و فعالیت‌های اجتماعی
                        فرزند شما در چندین پلتفرم نظارت می‌کند.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="desc-content">
                    <div class="icon-wrapper red">
                      <img src="../assets/images/cube-icon.jpg" class="img-fluid"/>
                    </div>
                    <div class="text-wrapper">
                      <h5>تشخیص</h5>
                      <p>
                        نیازی نیست شما هر پست و پیامی را بررسی کنید، الگوریتم‌های به کار رفته در
                        FamilySecure خود خطرات احتمالی را تشخیص خواهند داد.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="desc-content">
                    <div class="icon-wrapper green">
                      <img src="../assets/images/cube-icon.jpg" class="img-fluid"/>
                    </div>
                    <div class="text-wrapper">
                      <h5>هشدار</h5>
                      <p>
                        در هنگام شناسایی خطر، به همراه توصیه‌هایی از روانشناسان کودکان برای رسیدگی به خطرهای
                        احتمالی مشاوره و هشدار دریافت خواهید کرد.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="desc-content">
                    <div class="icon-wrapper red">
                      <img src="../assets/images/cube-icon.jpg" class="img-fluid"/>
                    </div>
                    <div class="text-wrapper">
                      <h5>مدیریت</h5>
                      <p>
                        محدودیت‌های زمانی را برای دسترسی فرزند خود به اینترنت تعریف کنید
                        و هم‌چنین وب‌سایت‌های مجاز جهت بازدید را تعیین نمائید.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="demo-wrapper">
      <div class="container">
        <VideoModal :modalActive="video" @close-modal="video = false">
          <video class="video-modal img-fluid" autoplay controls muted>
            <source src="https://familysecure.ir/img/1654004028-QU15hS1M.mp4" type="video/mp4"/>
          </video>
        </VideoModal>
        <div class="row align-items-center">
          <div class="col-sm-4 col-md-3">
            <div class="video-wrapper">
              <div class="video-button">
                <button
                    class="video-btn"
                    @click="video = true"
                >
                  <i class="fas fa-play"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="col-sm-8 col-md-9">
            <div class="title">
              <h2>دموی جدید</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="photos-wrapper section-padding">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8 col-lg-7">
            <div class="title-wrapper">
              <h2>تصاویر برنامه</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="control-btn">
              <button @click="previous">قبلی</button>
            </div>
            <Carousel
                :settings="settings"
                :breakpoints="breakpoints"
                :autoplay="3000"
                :wrap-around="true"
                :transition="3000"
                ref="carousel"
                dir="rtl">
              <Slide v-for="(slide, index) in slides" :key="index">
                <div class="carousel__item">
                  <div>
                    <img :src="slide" class="img-fluid"/>
                  </div>
                </div>
              </Slide>
            </Carousel>
            <div class="control-btn">
              <button @click="next">بعدی</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="advertise-wrapper grey-bg section-padding">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8 col-lg-7">
            <div class="title-wrapper">
              <h2>با ما آرامش خاطر را تجربه کنید.</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <Carousel
                :settings="settings"
                :breakpoints="breakpoints2"
                :autoplay="3000"
                :wrap-around="true"
                :transition="3000"
                :itemsToScroll="1"
                dir="rtl">
              <Slide v-for="(slide, index) in ads" :key="index">
                <div class="carousel__item">
                  <div class="slide-wrapper">
                    <div>
                      <router-link :to="{ name: 'ServicePage' }">
                        <img :src="slide.image" class="img-fluid"/>
                      </router-link>
                    </div>
                    <div class="desc">
                      <router-link :to="{ name: 'ServicePage' }">
                        <h5>{{ slide.title }}</h5>
                      </router-link>
                      <p>{{ slide.description }}</p>
                    </div>
                  </div>
                </div>
              </Slide>
            </Carousel>
          </div>
        </div>
      </div>
    </div>
    <div class="download-application-wrapper">
      <div class="container">
        <div class="row align-items-center justify-content-around">
          <div class="col-md-7">
            <div class="content">
              <h5>دریافت برنامه</h5>
              <p>
                جهت اطمینان از انتخاب صحیح خود، می‌توانید برنامه ما را به مدت 48 ساعت رایگان امتحان کنید.
              </p>
              <a
                  href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwj0z8zAk473AhVD6aQKHeopDXMQFnoECAoQAQ&url=https%3A%2F%2Fmusic.youtube.com%2F&usg=AOvVaw1dAsQ6-6ef2vdHUJpszguV"
                  target="_blank"
                  class="btn download-btn">
                دانلود نسخه اندروید
              </a>
            </div>
          </div>
          <div class="col-md-5">
            <div class="d-flex justify-content-center align-items-center download-image">
              <img
                  src="../assets/images/image-19.png"
                  class="img-fluid"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="prices-wrapper grey-bg section-padding">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8 col-lg-7">
            <div class="title-wrapper">
              <h2>قیمت&zwnj;ها</h2>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-6 col-lg-4" v-for="plan in plans" :key="plan.name">
            <div class="plan-wrapper">
              <div class="content-wrapper">
                <div class="icon-wrapper">
                  <img :src="plan.image" class="img-fluid"/>
                </div>
                <h2>{{ plan.name }}</h2>
              </div>
              <div class="content-wrapper">
                <div class="details">
                  <p>{{ plan.days }} روز</p>
                  <p>
                    حداکثر {{ plan.goalCount }} هدف
                  </p>
                  <p>
                    حداکثر {{ plan.deviceCount }} دستگاه
                  </p>
                  <p>
                    <strong>{{ formatPrice(plan.price) }}</strong> تومان
                  </p>
                  <p>
                    با <strong>{{ plan.discount }}</strong> درصد تخفیف
                  </p>
                </div>
              </div>
              <hr class="w-100"/>
              <div class="content-wrapper">
                <ul>
                  <li>بسیار به صرفه</li>
                  <li>اقتصادی و به صرفه</li>
                  <li>تست برنامه نویس</li>
                </ul>
                <button class="btn buy-btn">هم اکنون بخرید</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="faq-wrapper section-padding">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8 col-lg-7">
            <div class="title-wrapper">
              <h2>سوالات متداول</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6" v-for="(faq, index) in faqs" :key="index">
            <div class="faq" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
              <h5>{{ faq.question }}</h5>
              <p>{{ faq.answer }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="partners-wrapper grey-bg">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8 col-lg-7">
            <div class="title-wrapper">
              <h2>همکاران ما</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <Carousel
                :settings="settings"
                :breakpoints="breakpoints3"
                :wrap-around="true"
                :transition="3000"
                dir="rtl">
              <Slide v-for="(image, index) in partners" :key="index">
                <div class="carousel__item">
                  <div class="slide-wrapper">
                    <img :src="image" class="img-fluid w-100"/>
                  </div>
                </div>
              </Slide>
            </Carousel>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import AOS from "aos";
import ThemifyIcon from "vue-themify-icons";
import { Carousel, Slide } from 'vue3-carousel';
import 'vue3-carousel/dist/carousel.css';
import VideoModal from '@/components/VideoModal';

export default {
  name: 'IndexPage',
  components: {
    ThemifyIcon,
    Carousel,
    Slide,
    VideoModal
  },
  data() {
    return {
      features1: [
        {
          image: 'https://familysecure.ir/img/1655103492-9XwA602X.png',
          title: 'ارسال دستورات کنترلی از راه دور به تلفن همراه',
          description: 'با FamilySecure می‌توانید دستورات کنترلی را از راه دور به تلفن همراه مورد نظر خود با فعال کردن ویژگی مربوطه در قسمت تنظیمات ارسال کنید.'
        },
        {
          image: 'https://familysecure.ir/img/1655103492-9XwA602X.png',
          title: 'ثبت کلیدهای فشرده شده توسط کاربر',
          description: 'بر تمامی پیام‌های مبادله شده در پیام‌رسان‌های فوری نظیر واتس‌اپ، فیس‌بوک، اسکایپ، اینستاگرام، وایبر و موارد دیگر نظارت کنید.'
        },
        {
          image: 'https://familysecure.ir/img/1655103492-9XwA602X.png',
          title: 'دریافت هشدارهای 24/7 در زمان واقعی',
          description: 'هشدارهای فوری به هنگام استفاده از کلمات خاص در مکان‌های مختلف، پیامک‌ها، ایمیل‌ها و شبکه‌های اجتماعی دریافت کنید.'
        },
      ],
      features2: [
        {
          image: 'https://familysecure.ir/img/1655103492-9XwA602X.png',
          title: 'ضبط تماس‌های تلفنی و رخدادهای محیط اطراف',
          description: 'تمامی تماس‌های تلفنی و هر آن‌چه که در محیط اطراف کودکان خود می‌گذرد را ضبط کرده و به محتوای آن‌ها گوش دهید.'
        },
        {
          image: 'https://familysecure.ir/img/1655103492-9XwA602X.png',
          title: 'نظارت بر ایمیل‌ها و فعالیت‌های آنلاین',
          description: 'بر فعالیت‌های آنلاین فرزندان و کارمندان خود از جمله ایمیل‌های ارسال شده و نیز بر وب‌سایت‌های بازدید شده نظارت کنید.'
        },
        {
          image: 'https://familysecure.ir/img/1655103492-9XwA602X.png',
          title: 'فایل‌های چندرسانه‌ای و قرارهای ملاقات',
          description: 'با FamilySecure می‌توانید بر عکس‌ها، ویدئوهای ذخیره شده و قرارهای ملاقات برنامه‌ریزی شده در تلفن همراه فرزندتان نظارت کنید.'
        },
      ],
      services: [
        {
          image: 'https://familysecure.ir/img/1654499476-Yu11Tzo4.png',
          title: 'ردیابی و کنترل فرزندان',
          description: 'با پیشرفت تکنولوژی، اینترنت و تلفن‌های همراه به بخش جدا نشدنی از زندگی افراد به ویژه فرزندان تبدیل شده است اما خطرهای مختلفی فرزندان را تهدید می‌کند که والدین می‌توانند با استفاده از برنامه FamilySecure از وقوع آن‌ها جلوگیری کنند. FamilySecure می‌تواند پیام‌های متنی، ایمیل‌ها و برنامه‌های پیام‌رسان، فایل‌ها و ویدئوهای موجود در دستگاه را اسکن کند تا محتوای نامناسب آشکار گردد. والدین می‌توانند مناطق امن را تعیین کرده و مکان فرزندان را ردیابی کنند. این برنامه هر 5 دقیقه یک‌بار به روز می‌شود، بنابراین شما همیشه از فعالیت‎‌های فرزندتان آگاه خواهید بود.'
        },
        {
          image: 'https://familysecure.ir/img/1654499468-CbSOuVi5.png',
          title: 'ردیابی و کنترل سالمندان',
          description: 'برنامه FamilySecure از راه دور و به صورت کاملاً نامحسوس موقعیت گوشی را کنترل کرده و از سالمندان در برابر کلاهبرداری‌های آنلاین، گم کردن مسیر خانه و سرگردانی محافظت می‌کند. FamilySecure به مراقبان این امکان را می‌دهد تا بر گزارش‌ها و هشدارهای داده شده و نیز مکان سالمند از راه دور با استفاده از تلفن‌های هوشمند نظارت داشته باشند. مراقبان هشدارهایی مبنی بر کمک اضطراری، سقوط با تلفن، نصب یا حذف برنامه، ورود و خروج از مکان‌های جغرافیایی تعیین شده، عدم فعالیت تلفن برای مدت طولانی، تغییر سیم کارت و هشدارهای باتری ضعیف را دریافت خواهند کرد.'
        },
        {
          image: 'https://familysecure.ir/img/1654499476-Yu11Tzo4.png',
          title: 'ردیابی و کنترل کارمندان',
          description: 'اگر مالک یک کسب و کار بزرگ هستید، برنامه FamilySecure می‌تواند به شما کمک کند تا به صورت خودکار کارمندان خود را ردیابی و ارزیابی کرده و بهترین کارمندان را شناسایی کنید. با این برنامه می‌توانید با نظارت بر دستگاه‌ها و رایانه‌های مورد نظر، عواملی که باعث اتلاف وقت توسط کارمندان می‌شود را حذف کنید. برنامه FamilySecure زمان صرف شده در وب‌سایت‌ها و برنامه‌هایی که از نظر شما سازنده نیستند را در اختیار شما قرار می‌دهد تا با مسدود کردن ‌آن وب سایت‌ها و یا برنامه‌هایی که مخالف خط مشی تعریف شده هستند، بهره‌وری سازمان شما افزایش پیدا کند.'
        }
      ],
      slides: [
        'https://familysecure.ir/image/1649748780-Lxn9sSnr.png',
        'https://familysecure.ir/image/1649242984-9dfBKRD2.png',
        'https://familysecure.ir/image/1649748844-ySjTRdUA.png',
        'https://familysecure.ir/image/1649242984-9dfBKRD2.png',
        'https://familysecure.ir/image/1649748780-Lxn9sSnr.png',
        'https://familysecure.ir/image/1649242984-9dfBKRD2.png',
        'https://familysecure.ir/image/1649748844-ySjTRdUA.png',
        'https://familysecure.ir/image/1649242984-9dfBKRD2.png',
        'https://familysecure.ir/image/1649748780-Lxn9sSnr.png',
        'https://familysecure.ir/image/1649242984-9dfBKRD2.png',
        'https://familysecure.ir/image/1649748844-ySjTRdUA.png',
        'https://familysecure.ir/image/1649242984-9dfBKRD2.png',
      ],
      ads: [
        {
          image: 'https://familysecure.ir/img/1653987199-Yx18ki1u.png',
          title: '100% نامرئی',
          description: 'برنامه بر روی دستگاه فرد مورد نظر قابل مشاهده نیست و به صورت کاملاً نامرئی در پس‌زمینه اجرا خواهد شد.'
        },
        {
          image: 'https://familysecure.ir/img/1655638513-36rONrvB.PNG',
          title: 'پشتیبانی 24/7',
          description: 'به سادگی با تیم پشتیبانی در ارتباط باشید. کارشناسان ما به صورت شبانه‌روزی پاسخگوی تمام سؤالات شما خواهند بود.'
        },
        {
          image: 'https://familysecure.ir/img/1650195057-7mVX1Xbu.png',
          title: 'امن و قابل اعتماد',
          description: 'تمام داده‌های دستگاه شخص مورد نظر رمزگذاری و محافظت می‌شوند و فقط شما به آن‌ها دسترسی دارید.'
        },
        {
          image: 'https://familysecure.ir/img/1650195131-bHWeomns.png',
          title: 'صرفه‌جویی در زمان',
          description: 'عدم نیاز به نظارت دستی بر فعالیت‌های فرزندتان موجب صرفه‌جویی در زمان و نیز حفظ حریم خصوصی آن‌ها می‌شود.'
        },
        {
          image: 'https://familysecure.ir/img/1653987199-Yx18ki1u.png',
          title: '100% نامرئی',
          description: 'برنامه بر روی دستگاه فرد مورد نظر قابل مشاهده نیست و به صورت کاملاً نامرئی در پس‌زمینه اجرا خواهد شد.'
        },
        {
          image: 'https://familysecure.ir/img/1655638513-36rONrvB.PNG',
          title: 'پشتیبانی 24/7',
          description: 'به سادگی با تیم پشتیبانی در ارتباط باشید. کارشناسان ما به صورت شبانه‌روزی پاسخگوی تمام سؤالات شما خواهند بود.'
        },
        {
          image: 'https://familysecure.ir/img/1650195057-7mVX1Xbu.png',
          title: 'امن و قابل اعتماد',
          description: 'تمام داده‌های دستگاه شخص مورد نظر رمزگذاری و محافظت می‌شوند و فقط شما به آن‌ها دسترسی دارید.'
        },
        {
          image: 'https://familysecure.ir/img/1650195131-bHWeomns.png',
          title: 'صرفه‌جویی در زمان',
          description: 'عدم نیاز به نظارت دستی بر فعالیت‌های فرزندتان موجب صرفه‌جویی در زمان و نیز حفظ حریم خصوصی آن‌ها می‌شود.'
        },
        {
          image: 'https://familysecure.ir/img/1653987199-Yx18ki1u.png',
          title: '100% نامرئی',
          description: 'برنامه بر روی دستگاه فرد مورد نظر قابل مشاهده نیست و به صورت کاملاً نامرئی در پس‌زمینه اجرا خواهد شد.'
        },
        {
          image: 'https://familysecure.ir/img/1655638513-36rONrvB.PNG',
          title: 'پشتیبانی 24/7',
          description: 'به سادگی با تیم پشتیبانی در ارتباط باشید. کارشناسان ما به صورت شبانه‌روزی پاسخگوی تمام سؤالات شما خواهند بود.'
        },
        {
          image: 'https://familysecure.ir/img/1650195057-7mVX1Xbu.png',
          title: 'امن و قابل اعتماد',
          description: 'تمام داده‌های دستگاه شخص مورد نظر رمزگذاری و محافظت می‌شوند و فقط شما به آن‌ها دسترسی دارید.'
        },
        {
          image: 'https://familysecure.ir/img/1650195131-bHWeomns.png',
          title: 'صرفه‌جویی در زمان',
          description: 'عدم نیاز به نظارت دستی بر فعالیت‌های فرزندتان موجب صرفه‌جویی در زمان و نیز حفظ حریم خصوصی آن‌ها می‌شود.'
        },
      ],
      plans: [
        {
          image: 'https://familysecure.ir/img/1655643465-ygNaSoVC.png',
          name: 'plan1',
          price: 684865,
          discount: 10,
          days: 56,
          goalCount: 684,
          deviceCount: 5
        }
      ],
      faqs: [
        {
          question: 'چرا نمی‌توان تمام فعالیت‌های فرزند یا کارمند یا سالمند را مشاهده کرد؟',
          answer: 'زیرا ما بر حفاظت از حریم خصوصی افراد پایبند هستیم. به همین دلیل فقط در صورت مشاهده مشکل احتمالی هشدار داده خواهد شد.'
        },
        {
          question: 'اگر فرزند من پیام‌ها را حذف کرد چه؟',
          answer: 'از آن‌جا که برنامه به طور پیوسته پیام‌ها را ثبت می‌کند، حتی اگر فرزند شما آن‌ها حذف کند، باز هم مورد نظارت قرار خواهد گرفت.'
        },
        {
          question: 'اگر فرزند من برنامه را حذف کند چه؟',
          answer: 'اگر فرزندتان گذرواژه‌های حساب‌های ایمیل یا شبکه‌های اجتماعی خود را تغییر دهد و باعث متوقف شدن نظارت برنامه شود، شما اعلانی دریافت خواهید کرد. همچنین فرزندتان FamilySecure را که با نام دیگری بر روی تلفن همراه فرزندتان نصب شده است، نمی‌تواند حذف کند، به شرطی که شما گزینه "حفاظت از حذف نصب" (Uninstall Protection) را فعال کرده باشید.'
        },
        {
          question: 'آیا تصاویر و ویدئوها توسط FamilySecure تجزیه و تحلیل می‌شوند؟',
          answer: 'بله. FamilySecure تصاویر و ویدئوهای ارسال شده بر بستر پیام‌رسان‌ها و یا ذخیره شده بر روی دستگاه را از نظر خشونت، متن اضافه شده به تصاویر و سایر محتوای نامناسب تجزیه و تحلیل می‌کند.'
        },
        {
          question: 'برنامه FamilySecure چه پلتفرم‌هایی را رصد می‌کند؟',
          answer: 'برنامه ارائه شده بر پیامک‌ها، تماس‌ها و محتوای ذخیره شده بر روی دستگاه، صفحات وب بازدید شده، کلاینت‌های ایمیل نظیر Gmail، Outlook و... همچنین بر بسیاری از پیام‌رسان‌ها و اپلیکیشن‌های شبکه‌های اجتماعی مانند اینستاگرام، واتس اپ، فیس بوک، اسکایپ و موارد دیگر نظارت می‌کند.'
        },
        {
          question: 'آیا FamilySecure دقیق است؟',
          answer: 'بله. این برنامه به موجب الگوریتم‌های استفاده شده در طراحی آن به طور دقیق عمل می‌کند و در زمان‌هایی که مسئله جدی مشاهده کند، هشدار به موقع خواهد داد.'
        },
      ],
      partners: [
          'https://familysecure.ir/img/1650873567-q0LwcL2t.png',
          'https://familysecure.ir/img/1653986608-dFvBGnMq.png',
          'https://familysecure.ir/img/1650873556-iEQRjnFB.png',
          'https://familysecure.ir/img/1650873567-q0LwcL2t.png',
          'https://familysecure.ir/img/1653986608-dFvBGnMq.png',
          'https://familysecure.ir/img/1650873556-iEQRjnFB.png',
          'https://familysecure.ir/img/1650873567-q0LwcL2t.png',
          'https://familysecure.ir/img/1653986608-dFvBGnMq.png',
          'https://familysecure.ir/img/1650873556-iEQRjnFB.png',
          'https://familysecure.ir/img/1650873567-q0LwcL2t.png',
          'https://familysecure.ir/img/1653986608-dFvBGnMq.png',
          'https://familysecure.ir/img/1650873556-iEQRjnFB.png',
      ],
      settings: {
        itemsToShow: 1,
        snapAlign: 'start'
      },
      breakpoints: {
        480: {
          itemsToShow: 2,
          snapAlign: 'start'
        },
        992: {
          itemsToShow: 4,
          snapAlign: 'start'
        }
      },
      breakpoints2: {
        576: {
          itemsToShow: 2,
          snapAlign: 'start'
        },
        992: {
          itemsToShow: 3,
          snapAlign: 'start'
        },
        1200: {
          itemsToShow: 4,
          snapAlign: 'start'
        }
      },
      breakpoints3: {
        576: {
          itemsToShow: 2,
          snapAlign: 'start'
        },
        768: {
          itemsToShow: 3,
          snapAlign: 'start'
        },
        992: {
          itemsToShow: 5,
          snapAlign: 'start'
        }
      },
      video: false
    }
  },
  mounted() {
    AOS.init()
  },
  methods: {
    next() {
      this.$refs.carousel.next();
    },
    previous() {
      this.$refs.carousel.prev();
    },
    formatPrice(value) {
      return value.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",")
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../assets/styles/variables';

.wrapper {
  .welcome-wrapper {
    background: url("../assets/images/family-secure.jpg") no-repeat center;
    background-size: cover;
    //min-height: 100vh;
    height: 1000px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      background: $dark;
      opacity: .6;
      width: 100%;
      height: 100%;
    }

    .content-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: relative;
      z-index: 10;
      color: $white;

      h3 {
        font-size: 3.25rem;
        margin-bottom: 1.5rem;
        color: $white;
      }

      p {
        font-size: 1.2rem;
        line-height: 2.5;
      }
    }

    .banner-bottom {
      position: absolute;
      right: 0;
      //left: 0;
      bottom: -1px;
      width: 100%;
      z-index: 1;
      transform: rotateY(180deg);
    }

    @media (max-width: 576px) {
      .content-wrapper {
        h3 {
          font-size: 2rem;
        }
      }
    }
  }

  .details-counts-wrapper {
    .detail-count {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $dark;
      margin-bottom: 3rem;

      h3 {
        font-size: 3.5rem;
        color: $dark;
      }

      p {
        font-size: 1.2rem;
      }
    }
  }

  .features-wrapper {
    .feature-image-wrapper {
      display: flex;
      justify-content: center;
      margin: 2rem auto;
      max-width: 350px;
    }

    .features-content {
      .feature {
        box-shadow: 0px 5px 15px 0px rgb(0 0 0 / 10%);
        padding: 1.25rem;
        display: flex;
        align-items: center;
        transition-duration: 400ms;
        margin-bottom: 2rem;

        &:hover {
          transform: translate3d(0, -10px, 0);
        }

        .image-wrapper {
          margin-left: 1rem;
        }

        .text-wrapper {
          h4 {
            font-size: 1.125rem;
          }
        }
      }
    }

    @media (min-width: 768px) and (max-width: 991px) {
      .image-col {
        display: none;
      }
    }
  }

  .title-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
    text-align: center;

    h2 {
      font-size: 2.5rem;
    }

    p {
      font-size: 1.1rem;
    }

    @media (max-width: 768px) {
      h2 {
        font-size: 2rem;
      }
    }

    @media (min-width: 768px) and (max-width: 991px) {
      h2 {
        font-size: 2.25rem;
      }
    }
  }

  .services-wrapper {
    .service {
      margin-bottom: 3rem;
      box-shadow: 0 10px 15px rgb(0 0 0 / 10%);
      border-radius: 10px;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      transition-duration: 400ms;

      &:hover {
        transform: translate3d(0, -10px, 0);
      }

      h5 a {
        color: $color-4;
        font-size: 1.25rem;
      }
    }
  }

  .information-wrapper {
    .info-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      h2 {
        font-size: 3rem;
        line-height: 1.5;
      }

      p {
        font-size: 1rem;
      }

      h5 {
        font-size: 1.25rem;
      }
    }

    .info-image {
      margin-top: 1rem;
      animation: moveUpDown 1.5s linear infinite alternate;
    }

    @media (max-width: 768px) {
      .info-content {
        h2 {
          font-size: 2rem;
        }
      }
    }

    @media (min-width: 768px) and (max-width: 991px) {
      .info-content {
        h2 {
          font-size: 2.5rem;
        }
      }
    }
  }

  .roadmap-wrapper {
    padding: 6rem 0 1rem;

    .step-wrapper {
      display: flex;

      .icon {
        font-size: 4rem;
        font-weight: 700;
        color: $color-10;
        transition-duration: 400ms;
        max-height: 100px;
      }

      .step {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 3rem;
        text-align: center;

        .step-icon {
          background: linear-gradient(to left, $color-5, $color-9);
          border-radius: 5px;
          max-width: 80px;
          max-height: 80px;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        h4 {
          margin-top: 2rem;
          font-size: 1.25rem;
        }
      }

      &:hover .icon {
        transform: translateX(-50px);
        color: $color-5;
      }

      @media (max-width: 768px) {
        .icon {
          display: none;
        }
      }
    }
  }

  .description-wrapper {
    .image-wrapper {
      animation: moveUpDown 1.5s linear infinite alternate;
    }

    .descriptions {
      h2 {
        font-size: 3rem;
        line-height: 1.55;
      }

      .desc-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        box-shadow: 0px 0px 60px 0px rgb(0 0 0 / 4%);
        padding: 2rem;
        margin-top: 2.5rem;

        .icon-wrapper {
          height: 40px;
          width: 40px;
          line-height: 40px;
          border-radius: 2px;
          margin-bottom: 1rem;
          display: flex;
          justify-content: center;
          align-items: center;

          &.green {
            background: $green-2;
          }

          &.red {
            background: $red-2;
          }

          img {
            height: 2rem;
            width: 2rem;
          }
        }

        .text-wrapper {
          h5 {
            font-size: 1.25rem;
          }
        }
      }
    }

    @media (max-width: 768px) {
      .descriptions {
        h2 {
          font-size: 2rem;
        }
      }
    }

    @media (min-width: 768px) and (max-width: 991px) {
      .descriptions {
        h2 {
          font-size: 2.5rem;
        }
      }
    }
  }

  .demo-wrapper {
    padding: 12.5rem 0;
    background: url("../assets/images/image-8.jpg") no-repeat center;
    background-size: cover;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      background: linear-gradient(to left, $color-5, $color-9);
      opacity: .9;
      width: 100%;
      height: 100%;
    }

    .video {
      position: absolute;
      z-index: 100;
    }

    .title h2 {
      font-size: 3.25rem;
      line-height: 1.6;
      position: relative;
      z-index: 10;
      color: $white;
    }

    .video-wrapper {
      position: relative;
      z-index: 10;
      display: flex;
      justify-content: center;
      align-items: center;

      .video-button {
        .video-btn {
          border: none;
          color: $color-5;
          background: $white;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 100%;
          min-width: 80px;
          min-height: 80px;
          font-size: 2rem;
          cursor: pointer;
          position: relative;

          &::before {
            content: '';
            position: absolute;
            width: 100px;
            height: 100px;
            border-radius: 100%;
            background: $white;
            animation: pulse 1.5s linear infinite;
          }
        }
      }
    }

    @media (min-width: 768px) and (max-width: 991px) {
      .title h2 {
        font-size: 2rem;
      }
    }
  }

  .photos-wrapper {
    .carousel {
      .carousel__item {
        margin: 1rem;
      }
    }

    .control-btn {
      display: flex;
      justify-content: flex-start;

      button {
        background: $color-5;
        color: $white;
        border: none;
        border-radius: 12px 5px 12px 0;
        padding: 5px 10px;
        font-size: 14px;
      }
    }
  }

  .advertise-wrapper {
    .carousel {
      background: transparent;

      .carousel__item {
        margin-left: 2rem;
        height: 100%;
        padding: 3rem 0;

        .slide-wrapper {
          padding: 2rem;
          background: $white;
          box-shadow: 0 5px 30px 0px rgb(0 0 0 / 10%);
          border-radius: 0 30px 0 30px;
          display: flex;
          flex-direction: column;
          height: 100%;
          margin: 1rem 0;

          img {
            width: 100%;
          }

          .desc {
            margin-top: 1.5rem;
            text-align: right;

            h5 {
              font-size: 1.25rem;
            }
          }
        }
      }
    }
  }

  .download-application-wrapper {
    background: url("../assets/images/image-18.jpg") no-repeat center;
    background-size: cover;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      background: linear-gradient(to left, $color-5, $color-9);
      opacity: .9;
      width: 100%;
      height: 100%;
    }

    .content {
      position: relative;
      z-index: 10;
      padding: 6rem 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      color: $white;

      h5 {
        font-size: 3.125rem;
        color: $white;
      }

      p {
        font-size: 18px;
        color: $white;
        margin-bottom: 2rem;
      }

      .download-btn {
        background: $green;
        color: $white;
        font-size: 15px;
        border-radius: 2px;
        border-color: $green;
        transition-duration: 500ms;
        padding: .75rem;
        font-weight: 600;

        &:hover {
          background: $white;
          border-color: $white;
          color: $dark;
        }
      }
    }

    .download-image {
      position: relative;
      padding-top: 6rem;
    }

    @media (max-width: 768px) {
      .content {
        h5 {
          font-size: 2rem;
        }
      }
    }

    @media (min-width: 768px) and (max-width: 991px) {
      .content {
        h5 {
          font-size: 2.5rem;
        }
      }
    }
  }

  .prices-wrapper {
    .plan-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: $white;
      box-shadow: 0 8px 14.72px 1.28px rgb(207 207 207 / 50%);
      border-radius: 5px;
      margin-bottom: 3rem;
      padding: 2rem 0;

      .content-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 2rem;
        text-align: center;

        .icon-wrapper {
          //padding: 2rem;
          margin-bottom: 1rem;
        }

        h2 {
          font-size: 2rem;
          margin-bottom: 1rem;
        }

        p {
          font-size: 1.25rem;
          color: $color-2;

          strong {
            font-size: 1.5rem;
          }

          &.label {
            color: $color-3;
            font-size: 15px;
          }
        }

        ul {
          list-style: none;
          padding: 0;

          li {
            margin: 1.25rem 0;
            text-align: center;
          }
        }

        .buy-btn {
          background: $color-5;
          color: $white;
          font-size: 14px;
          border-radius: 22.5px;
          padding: .6rem 1.5rem;
          border-color: $color-5;
          transition-duration: 400ms;

          &:hover {
            background: $color-8;
            border-color: $color-8;
          }
        }
      }
    }
  }

  .faq-wrapper {
    .faq {
      padding: 1.25rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      h5 {
        font-size: 1.25rem;
      }
    }
  }

  .partners-wrapper {
    padding: 3rem 0;
  }
}

@keyframes moveUpDown {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes pulse {
  0% {
    transform: scale(.5);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: .5;
  }
  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}
</style>
