<template>
  <div class="service-wrapper">
    <div class="breadcrumb-wrapper">
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-12">
            <div class="breadcrumb-content">
              <h2>{{ title }}</h2>
              <nav aria-label="breadcrumb" dir="rtl">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <router-link :to="{ name: 'IndexPage' }">خانه</router-link>
                  </li>
                  <i class="fa-solid fa-chevron-left icon"></i>
                  <li class="breadcrumb-item active" aria-current="page">قابلیت&zwnj;ها</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="services-wrapper section-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4" v-for="service in services" :key="service.title">
            <div class="service">
              <div class="icon-wrapper">
                <img :src="service.image">
              </div>
              <h5>{{ service.title }}</h5>
              <p>{{ service.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="services-wrapper section-padding">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8 col-lg-7">
            <div class="title-wrapper">
              <h2>قابلیت&zwnj;های بیشتر</h2>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-6 col-lg-4" v-for="service in moreServices" :key="service.title">
            <div class="service">
              <div class="icon-wrapper">
                <img :src="service.image">
              </div>
              <h5>{{ service.title }}</h5>
              <p>{{ service.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="prices-wrapper grey-bg section-padding">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8 col-lg-7">
            <div class="title-wrapper">
              <h2>قیمت&zwnj;ها</h2>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-6 col-lg-4" v-for="plan in plans" :key="plan.name">
            <div class="plan-wrapper">
              <div class="content-wrapper">
                <div class="icon-wrapper">
                  <i class="fas fa-paper-plane"></i>
                </div>
                <h2>{{ plan.name }}</h2>
              </div>
              <hr class="w-100"/>
              <div class="content-wrapper">
                <div class="details">
                  <p class="label">قیمت محصول :</p>
                  <p>{{ formatPrice(plan.price) }} تومان</p>
                  <p class="label">تخفیف :</p>
                  <p>{{ formatPrice(plan.discount) }} تومان</p>
                  <p class="label">روز های باقی مانده برای تخفیف :</p>
                  <p>{{ plan.discountDays }} روز</p>
                </div>
                <button class="btn buy-btn">هم اکنون بخرید</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ServicePage',
  data() {
    return {
      services: [
        {
          image: 'https://familysecure.ir/img/1654499476-Yu11Tzo4.png',
          title: 'ردیابی و کنترل فرزندان',
          description: 'با پیشرفت تکنولوژی، اینترنت و تلفن‌های همراه به بخش جدا نشدنی از زندگی افراد به ویژه فرزندان تبدیل شده است اما خطرهای مختلفی فرزندان را تهدید می‌کند که والدین می‌توانند با استفاده از برنامه FamilySecure از وقوع آن‌ها جلوگیری کنند. FamilySecure می‌تواند پیام‌های متنی، ایمیل‌ها و برنامه‌های پیام‌رسان، فایل‌ها و ویدئوهای موجود در دستگاه را اسکن کند تا محتوای نامناسب آشکار گردد. والدین می‌توانند مناطق امن را تعیین کرده و مکان فرزندان را ردیابی کنند. این برنامه هر 5 دقیقه یک‌بار به روز می‌شود، بنابراین شما همیشه از فعالیت‎‌های فرزندتان آگاه خواهید بود.'
        },
        {
          image: 'https://familysecure.ir/img/1654499468-CbSOuVi5.png',
          title: 'ردیابی و کنترل سالمندان',
          description: 'برنامه FamilySecure از راه دور و به صورت کاملاً نامحسوس موقعیت گوشی را کنترل کرده و از سالمندان در برابر کلاهبرداری‌های آنلاین، گم کردن مسیر خانه و سرگردانی محافظت می‌کند. FamilySecure به مراقبان این امکان را می‌دهد تا بر گزارش‌ها و هشدارهای داده شده و نیز مکان سالمند از راه دور با استفاده از تلفن‌های هوشمند نظارت داشته باشند. مراقبان هشدارهایی مبنی بر کمک اضطراری، سقوط با تلفن، نصب یا حذف برنامه، ورود و خروج از مکان‌های جغرافیایی تعیین شده، عدم فعالیت تلفن برای مدت طولانی، تغییر سیم کارت و هشدارهای باتری ضعیف را دریافت خواهند کرد.'
        },
        {
          image: 'https://familysecure.ir/img/1654499476-Yu11Tzo4.png',
          title: 'ردیابی و کنترل کارمندان',
          description: 'اگر مالک یک کسب و کار بزرگ هستید، برنامه FamilySecure می‌تواند به شما کمک کند تا به صورت خودکار کارمندان خود را ردیابی و ارزیابی کرده و بهترین کارمندان را شناسایی کنید. با این برنامه می‌توانید با نظارت بر دستگاه‌ها و رایانه‌های مورد نظر، عواملی که باعث اتلاف وقت توسط کارمندان می‌شود را حذف کنید. برنامه FamilySecure زمان صرف شده در وب‌سایت‌ها و برنامه‌هایی که از نظر شما سازنده نیستند را در اختیار شما قرار می‌دهد تا با مسدود کردن ‌آن وب سایت‌ها و یا برنامه‌هایی که مخالف خط مشی تعریف شده هستند، بهره‌وری سازمان شما افزایش پیدا کند.'
        }
      ],
      moreServices: [
        {
          image: 'https://familysecure.ir/img/1655107207-ERnQ9Ztm.png',
          title: 'تقویم',
          description: 'در صورت اضافه شدن رویداد جدید به تقویم، به شما هشدار داده خواهد شد و بدین ترتیب می‌توانید از تمامی قرارهای ملاقات سالمند یا فرزند خود باخبر باشید.'
        },
        {
          image: 'https://familysecure.ir/img/1655107207-ERnQ9Ztm.png',
          title: 'مدیریت فایل',
          description: 'فایل‌های دانلود شده و دریافتی از پیام‌رسان‌های مختلف و نیز فایل‌های موجود بر روی حافظه تلفن را می‌توانید مشاهده کنید و بر روی آن‌ها نظارت داشته باشید.'
        },
        {
          image: 'https://familysecure.ir/img/1655107207-ERnQ9Ztm.png',
          title: 'کنترل کامل تلفن از راه دور',
          description: 'با ویژگی کنترل از راه دور می‌توانید داده‌ها را حذف کنید، تلفن را در حالت لرزش، زنگ و یا بی‌صدا قرار دهید، عکس بگیرید، صدا ضبط کنید، پیامک بزنید و موارد دیگر.'
        },
        {
          image: 'https://familysecure.ir/img/1655107207-ERnQ9Ztm.png',
          title: 'SMS و MMS',
          description: 'این اپلیکیشن به شما امکان می‌دهد تمامی پیامک‌ها و MMS های ارسالی یا دریافتی گوشی را بخوانید و در صورت مشاهده موارد مشکوک اقدام مناسبی را انجام دهید.'
        },
        {
          image: 'https://familysecure.ir/img/1655107207-ERnQ9Ztm.png',
          title: 'اعتیاد به بازی را متوقف کنید.',
          description: 'اگر فرزندان شما به بازی در گوشی خود اعتیاد دارند، می‌توانید به راحتی برنامه‌های بازی را برای یک زمان خاص یا برای همیشه مسدود نمائید تا اعتیاد به بازی را رفع کنید.'
        },
        {
          image: 'https://familysecure.ir/img/1655107207-ERnQ9Ztm.png',
          title: 'مسدود کردن برنامه‌های دوست‌یابی',
          description: 'آیا دلیل نگرانی شما بیش از حد فعال بودن فرزندتان در برنامه‌های دوست‌یابی و اجتماعی می‌باشد؟ شما با FamilySecure می‌توانید این برنامه‌ها را مسدود کنید.'
        },
        {
          image: 'https://familysecure.ir/img/1655107207-ERnQ9Ztm.png',
          title: 'لیست سیاه برنامه‌ها',
          description: 'با نظارت بر روی برنامه‌های مورد استفاده توسط فرزندان، آن دسته را که فکر می‌کنید برای کودکانتان نامناسب هستند، علامت‌گذاری کرده و آن‌ها را مسدود کنید.'
        },
        {
          image: 'https://familysecure.ir/img/1655107207-ERnQ9Ztm.png',
          title: 'نمایش همه برنامه‌ها',
          description: 'با ورود به داشبورد برنامه FamilySecure خود، تمامی برنامه‌ها و بازی‌هایی را که فرزندانتان بر روی دستگاه‌های اندرویدی خود نصب کرده‌اند، مشاهده نمائید.'
        },
        {
          image: 'https://familysecure.ir/img/1655107207-ERnQ9Ztm.png',
          title: 'سرورهای غیرقابل نفوذ',
          description: 'اطلاعات فرد موردنظر در سرورهای بسیار ایمن نزد ما به صورت محرمانه نگه‌داری می‌شوند. ما تمام اقدامات را انجام می‌دهیم تا سرورهای خود را غیرقابل نفوذ کنیم.'
        },
        {
          image: 'https://familysecure.ir/img/1655107207-ERnQ9Ztm.png',
          title: 'جلوگیری از حذف برنامه توسط فرزند',
          description: 'می‌توانید دسترسی به تنظیمات را مسدود کنید تا فرزندتان نتواند برنامه را حذف کند. همچنین شما می‌توانید گزینه "حفاظت از حذف نصب" را فعال کنید.'
        },
        {
          image: 'https://familysecure.ir/img/1655107207-ERnQ9Ztm.png',
          title: 'یک اکانت با دستگاه‌های نامحدود',
          description: 'تمام دستگاه‌های تلفن همراه خانواده خود را با یک حساب FamilySecure مدیریت کنید و همه دستگاه‌ها را از یک داشبورد ردیابی کنید.'
        },
        {
          image: 'https://familysecure.ir/img/1655107207-ERnQ9Ztm.png',
          title: 'حریم خصوصی داده‌های فرزند',
          description: 'اطلاعات فرزند شما نزد ما به صورت ایمن محافظت می‌شود. حتی کارکنان پشتیبانی ما نمی‌توانند داده‌های فرزند شما را مشاهده کرده و به آن‌ها دسترسی داشته باشند.'
        },
        {
          image: 'https://familysecure.ir/img/1655107207-ERnQ9Ztm.png',
          title: 'جلوگیری از شست‌وشوی مغزی خطرناک',
          description: 'با مسدود کردن محتواهایی شامل کلمات کلیدی خاص، اطمینان حاصل کنید که فرزندانتان در معرض دیدگاه‌های اشتباه سیاسی یا ایدئولوژیک قرار نخواهند گرفت.'
        },
        {
          image: 'https://familysecure.ir/img/1655107207-ERnQ9Ztm.png',
          title: 'جلوگیری از اتلاف وقت',
          description: 'مرور وب‌سایت‌ها و جست‌وجوی کلیدواژه‌های خاص را مسدود کرده و با سفارشی کردن نوع محتوایی که می‌توانند دسترسی داشته باشند، از اتلاف وقت آن‌ها جلوگیری کنید.'
        },
        {
          image: 'https://familysecure.ir/img/1655107207-ERnQ9Ztm.png',
          title: 'بدانید چرا فرزندتان تماس‌ها را پنهان می‌کند!',
          description: 'آیا تماس‌های زیادی از شماره‌های ذخیره نشده وجود دارد؟ آیا نوجوانان شما این تماس‌ها را به صورت خصوصی انجام می‌دهند؟ وقت آن است که از نزدیک نگاه کنید.'
        },
        {
          image: 'https://familysecure.ir/img/1655107207-ERnQ9Ztm.png',
          title: 'تجزیه و تحلیل عادات تماس',
          description: 'آیا مخاطبین خاصی وجود دارند که نوجوان شما با آن‌ها تماس طولانی برقرار می‌کند؟ آیا چیزی وجود دارد که باید نگران آن باشید؟ به تمامی سؤال‌ها پاسخ خواهید داد.'
        },
        {
          image: 'https://familysecure.ir/img/1655107207-ERnQ9Ztm.png',
          title: 'تاریخ و زمان تماس',
          description: 'فرزندتان چه مدت با یک مخاطب خاص در تماس بوده است؟ با نگاه کردن به تاریخ و زمان‌های ثبت شده می‌توانید به این سؤال پاسخ دهید.'
        },
        {
          image: 'https://familysecure.ir/img/1655107207-ERnQ9Ztm.png',
          title: 'نام و شماره تلفن',
          description: 'بر تاریخچه تماس‌ها به طور کامل نظارت کرده و اطلاعات کاملی درباره نام یا شماره هر تماسی که فرد مورد نظر دریافت کرده یا از دست داده است، داشته باشید.'
        },
        {
          image: 'https://familysecure.ir/img/1655107207-ERnQ9Ztm.png',
          title: 'آرامش خاطر',
          description: 'از فعالیت فعلی فرزندتان با یک نگاه اطلاع داشته باشید، هشدارهای فوری دریافت کنید و از اعتیاد او به صفحه نمایش جلوگیری کنید.'
        },
        {
          image: 'https://familysecure.ir/img/1655107207-ERnQ9Ztm.png',
          title: 'شهروند دیجیتال',
          description: 'FamilySecure به شما کمک می‌کند تا درک درستی از سبک زندگی دیجیتالی فرزند خود به دست آورید و در مواقع ضروری بتوانید مکامله آسانی با وی داشته باشید.'
        },
        {
          image: 'https://familysecure.ir/img/1655107207-ERnQ9Ztm.png',
          title: 'مدیریت پورتال‌های وب',
          description: 'نوع محتوا و میزان استفاده از دنیای دیجیتال را با توجه به سن فرزندتان سفارشی و مدیریت کنید. هم‌چنین زمان‌های خاصی را جهت دسترسی به دنیای وب تعیین نمائید.'
        },
        {
          image: 'https://familysecure.ir/img/1655107207-ERnQ9Ztm.png',
          title: 'رابط کاربری ساده',
          description: 'برنامه کاربرپسند با رابط کاربری ساده که دسترسی 24 ساعته به دنیای دیجیتال فرزند شما را امکان‌پذیر می‌کند و او را ایمن و ایمن نگه می‌دارد.'
        },
        {
          image: 'https://familysecure.ir/img/1655107207-ERnQ9Ztm.png',
          title: 'ایجاد اکانت‌های مختلف',
          description: 'محدودیتی در خرید اکانت وجود نداشته و می‌توانید به تعداد افراد مورد نظر خود اکانت تهیه کنید. برای دریافت راهنمایی‌ می‌توانید با واحد پشتیبان تماس بگیرید.'
        },
        {
          image: 'https://familysecure.ir/img/1655107207-ERnQ9Ztm.png',
          title: 'موقعیت‌یابی GPS',
          description: 'به موجب استفاده از تکنولوژی موقعیت‌یابی GPS در برنامه FamiltSecure، از مکان‌هایی که فرزند و یا سالمندتان بازدید می‌کند، در زمان واقعی باخبر باشید.'
        },
        {
          image: 'https://familysecure.ir/img/1655107207-ERnQ9Ztm.png',
          title: 'شبکه‌های آنلاین ایمن',
          description: 'با بررسی پیام‌ها و فایل‌های دریافت شده در پلتفرم‌های شبکه‌های اجتماعی مختلف و مسدود کردن محتوای توهین‌آمیز، شبکه‌ای ایمن برای فرزند خود ایجاد نمائید.'
        },
        {
          image: 'https://familysecure.ir/img/1655107196-X8XfxrEX.png',
          title: 'محافظت از دستگاه',
          description: 'از آن‌جایی که با FamilySecure می‌توانید از راه دور از مکان تلفن باخبر شوید بنابراین این برنامه از به سرقت رفتن دستگاه در بیرون از خانه نیز محافظت می‌کند.'
        },
        {
          image: 'https://familysecure.ir/img/1655107184-pL6TizYd.png',
          title: 'محدوده مجاز مکانی',
          description: 'محدوده‌های مجاز مکانی را برای فرزند و یا سالمند خود تعیین کنید و بدانید که شخص مورد نظر شما چه زمانی از یک منطقه خارج و یا به آن وارد می‌شود.'
        },
        {
          image: 'https://familysecure.ir/img/1655107130-vbC6enuT.png',
          title: 'هشدار شبکه‌های اجتماعی',
          description: 'با بررسی تمامی پیام‌های دریافتی و ارسالی بر بستر شبکه‌های اجتماعی مختلف، از کلاهبرداری‌ها و سوءاستفاده‌های آنلاین جلوگیری کنید.'
        },
        {
          image: 'https://familysecure.ir/img/1654941884-jnYrEHSp.PNG',
          title: 'مدیریت صفحه نمایش',
          description: 'به منظور انجام کارهای ضروری نظیر انجام تکالیف درسی و آموزشی و نیز خواب به موقع فرزند، زمان‌های فعال بودن صفحه نمایش را به آسانی سفارشی کنید.'
        },
      ],
      plans: [
        {
          name: '__plans part one__',
          price: '4140000',
          discount: '14000',
          discountDays: 14
        }
      ],
      title: 'خدمات'
    }
  },
  methods: {
    formatPrice(value) {
      return value.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",")
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../assets/styles/variables';

.breadcrumb-wrapper {
  background: url("../assets/images/image-9.jpg") no-repeat center;
  background-size: cover;
  height: 450px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background: linear-gradient(to left, $color-5, $color-9);
    opacity: .9;
    width: 100%;
    height: 100%;
  }

  .breadcrumb-content {
    position: relative;
    z-index: 10;
    margin-top: 3.75rem;

    h2 {
      font-size: 2.25rem;
      text-align: center;
      color: $white;
      margin-bottom: 1rem;
    }

    nav {
      display: flex;
      justify-content: center;

      .breadcrumb {
        display: flex;
        align-items: center;

        .icon {
          margin: 0 .5rem;
          font-size: 10px;
          color: $white;
        }

        .breadcrumb-item {
          color: $white;

          &.active {
            font-weight: 600;
          }

          &:last-child::before {
            display: none;
          }

          a {
            color: $white;
            opacity: .8;
          }
        }
      }
    }
  }
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
  text-align: center;

  h2 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.1rem;
  }

  @media (max-width: 768px) {
    h2 {
      font-size: 2rem;
    }
  }
}

.services-wrapper {
  .service {
    margin-bottom: 3rem;
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition-duration: 400ms;
    text-align: center;

    &:hover .icon-wrapper {
      transform: rotate(360deg);
    }

    .icon-wrapper {
      margin-bottom: 30px;
      height: 100px;
      width: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 27% 73% 62% 38%/43% 40% 60% 57%;
      box-shadow: 0 4px 24px 0 rgb(103 151 255 / 15%), 0 12px 64px 0 rgb(103 151 255 / 15%);
      transition-duration: 600ms;

      img {
        max-width: 70px;
      }
    }

    h5 {
      font-size: 1.25rem;
    }
  }
}

.prices-wrapper {
  .plan-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $white;
    box-shadow: 0 8px 14.72px 1.28px rgb(207 207 207 / 50%);
    border-radius: 5px;
    margin-bottom: 3rem;

    .content-wrapper {
      padding: 2rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      .icon-wrapper {
        font-size: 50px;
        height: 100px;
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-5;
        border-radius: 100%;
        color: $white;
        margin-bottom: 1.5rem;
      }

      h2 {
        font-size: 2rem;
      }

      p {
        margin-bottom: 1.5rem;
        color: $color-2;
        line-height: 1.85;
        font-size: 1.25rem;

        &.label {
          color: $color-3;
          font-size: 15px;
        }
      }

      .buy-btn {
        background: $color-5;
        color: $white;
        font-size: 14px;
        border-radius: 22.5px;
        padding: .6rem 1.5rem;
        border-color: $color-5;
        transition-duration: 400ms;

        &:hover {
          background: $color-8;
          border-color: $color-8;
        }
      }
    }

    hr {
      color: $color-7;
      opacity: 1;
      margin: .5rem 0;
    }
  }
}
</style>
