<template>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-lg-3">
          <div class="footer-content">
            <div class="logo">
              <img src="../assets/images/logo.png" class="img-fluid">
            </div>
            <div class="text-wrapper">
              <p>
                برنامه مقرون به صرفه FamilySecure به طور خودکار بر محتوای دستگاه،
                پیام‌های متنی، YouTube، ایمیل‌ها و محتوای چندین شبکه اجتماعی مختلف دیگر نظارت می‌کند.
              </p>
            </div>
            <div class="social-media-wrapper">
              <router-link to="#">
                <i class="fab fa-instagram"></i>
              </router-link>
              <router-link to="#">
                <i class="fab fa-telegram"></i>
              </router-link>
              <router-link to="#">
                <i class="fab fa-twitter"></i>
              </router-link>
              <router-link to="#">
                <i class="fab fa-linkedin"></i>
              </router-link>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="footer-content">
            <div class="title">
              <h4>صفحات جانبی</h4>
            </div>
            <div class="items">
              <ul>
                <li>
                  <router-link to="#">سوالات و جواب&zwnj;ها</router-link>
                </li>
                <li>
                  <router-link to="#">کنترل پیامک</router-link>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-lg-3">
          <div class="footer-content">
            <div class="title">
              <h4>نمادهای اعتماد</h4>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="footer-content">
            <div class="title">
              <h4>اطلاعات تماس</h4>
            </div>
            <div class="items">
              <ul>
                <li>
                  <ThemifyIcon icon="location-pin" />
                  <a href="#">
                    <span>
                      تهران، اقدسیه، موحد دانش روبروی آوا سنتر <span>پلاک 88</span>
                    </span>
                  </a>
                </li>
                <li>
                  <ThemifyIcon icon="email" />
                  <a href="mailto:vshahriari1983@gmail.com">
                    <span>vshahriari1983@gmail.com</span>
                  </a>
                </li>
                <li>
                  <ThemifyIcon icon="mobile" />
                  <a href="tel:0211111111">
                    <span>0211111111</span>
                  </a>
                </li>
                <li>
                  <ThemifyIcon icon="mobile" />
                  <a href="tel:0218896547">
                    <span>0218896547</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr/>
    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p class="text-center">
              تمامی حقوق مادی و معنوی این سایت متعلق به گروه حکمت داییی می باشد
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
import ThemifyIcon from 'vue-themify-icons';

export default {
  name: 'FooterComponent',
  components: {
    ThemifyIcon,
  }
}
</script>

<style lang="scss" scoped>
@import '../assets/styles/variables';

footer {
  background: linear-gradient(to left, $color-5, $color-9);
  padding-top: 6rem;

  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: $color-1;
    font-size: 15px;
    margin-bottom: 50px;

    .text-wrapper {
      font-size: 15px;
      //font-weight: 600;
      text-align: right;
      line-height: 2.25;
      margin-top: 1.75rem;

      p {
        margin-bottom: 0;
      }
    }

    .social-media-wrapper {
      margin-top: 1.5rem;

      a {
        color: $white;
        margin-left: 1rem;
        font-size: 1rem;
        transition-duration: 400ms;

        &:hover {
          color: $green;
        }
      }
    }

    .title h4 {
      color: $white;
      font-size: 1.25rem;
      font-weight: 700;
    }

    .items {
      margin-top: 1.75rem;

      ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0;

        li {
          margin-bottom: .75rem;
          display: flex;
          cursor: pointer;

          &:hover a::after {
            width: 100%;
          }

          a {
            color: $color-1;
            transition: all 3s ease;
            //font-weight: 600;

            &::after {
              content: '';
              display: block;
              width: 0;
              height: 1px;
              background: $white;
              transition: width .35s ease;
              margin-top: 5px;
            }

            span {
              text-align: right;
            }
          }

          i {
            margin-left: 10px;
          }
        }
      }
    }
  }

  hr {
    color: $white;
  }

  .copyright {
    padding: 1.25rem 0;
    color: $color-3;
    line-height: 2;
    font-size: 15px;
  }
}
</style>
