<template>
  <header>
    <div class="header-wrapper" ref="header">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <nav class="navbar navbar-expand-lg d-flex justify-content-between align-items-center">
              <router-link to="/" class="navbar-brand">
                <img src="../assets/images/logo.png" class="img-fluid w-100">
              </router-link>

              <button
                  class="navbar-toggler"
                  type="button"
                  @click="expand"
              >
                <!--                <span class="navbar-toggler-icon"></span>-->
                <i class="fa-solid fa-bars"></i>
              </button>

              <div class="collapse navbar-collapse" id="navCollapse">
                <ul class="navbar-nav d-flex justify-content-around">
                  <li class="nav-item">
                    <router-link
                        class="nav-link"
                        :to="{ name: 'IndexPage' }">
                      خانه
                    </router-link>
                  </li>
                  <li class="nav-item">
                    <router-link
                        class="nav-link"
                        :to="{ name: 'ServicePage' }"
                    >
                      قابلیت&zwnj;ها
                    </router-link>
                  </li>
                  <li class="nav-item">
                    <router-link
                        class="nav-link dropdown-link"
                        to=""
                        @mouseenter="showSubmenu = true"
                        @mouseleave="showSubmenu = false"
                    >
                      صفحات
                      <i class="fa-solid fa-chevron-down icon"></i>
                      <transition name="up">
                        <ul class="dropdown-content list-group" v-if="showSubmenu">
                          <li class="list-group-item">
                            <router-link to="#">
                              سوالات و جواب&zwnj;ها
                            </router-link>
                          </li>
                          <li class="list-group-item">
                            <router-link to="#">
                              کنترل پیامک
                            </router-link>
                          </li>
                        </ul>
                      </transition>
                    </router-link>
                  </li>
                  <li class="nav-item">
                    <router-link
                        class="nav-link"
                        to="#"
                    >
                      بلاگ
                    </router-link>
                  </li>
                  <li class="nav-item">
                    <router-link
                        class="nav-link"
                        :to="{ name: 'AboutPage' }"
                    >
                      درباره ما
                    </router-link>
                  </li>
                  <li class="nav-item">
                    <router-link
                        class="nav-link"
                        :to="{ name: 'ContactPage' }"
                    >
                      تماس با ما
                    </router-link>
                  </li>
                  <li class="nav-item">
                    <router-link
                        class="nav-link"
                        to="#"
                    >
                      ورود
                    </router-link>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
          <div class="col-12">
            <transition name="drop-in">
              <div
                  class="mobile-nav"
                  v-if="expandMenu"
              >
                <ul>
                  <li
                      v-for="item in menuItem"
                      :key="item.label"
                  >
                    <a
                        :href="item.link"
                        @click="item.showChildren = !item.showChildren"
                    >
                      {{ item.label }}
                      <i
                          v-if="item.children.length > 0"
                          class="fa-solid fa-plus icon"
                      ></i>
                    </a>
                    <transition name="slide-fade">
                      <ul
                          class="submenu"
                          v-if="item.children.length > 0 && item.showChildren"
                      >
                        <li
                            v-for="subItem in item.children"
                            :key="subItem.label"
                        >
                          <a
                              :href="subItem.link"
                          >
                            {{ subItem.label }}
                          </a>
                        </li>
                      </ul>
                    </transition>
                  </li>
                </ul>
              </div>
            </transition>
          </div>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
export default {
  name: 'HeaderComponent',
  data() {
    return {
      menuItem: [
        {
          label: 'خانه',
          link: '/',
          children: [],
          showChildren: false
        },
        {
          label: 'قابلیت\u200Cها',
          link: '/pages/service',
          children: [],
          showChildren: false
        },
        {
          label: 'صفحات',
          link: '#',
          children: [
            {
              label: 'سوالات و جواب\u200Cها',
              link: '#'
            },
            {
              label: 'کنترل پیامک',
              link: '#'
            }
          ],
          showChildren: false
        },
        {
          label: 'بلاگ',
          link: '#',
          children: [],
          showChildren: false
        },
        {
          label: 'درباره ما',
          link: '/about-us',
          children: [],
          showChildren: false
        },
        {
          label: 'تماس با ما',
          link: '/contact-us',
          children: [],
          showChildren: false
        },
        {
          label: 'ورود',
          link: '#',
          children: [],
          showChildren: false
        }
      ],
      expandMenu: false,
      showSubmenu: false
    }
  },
  methods: {
    handleScroll() {
      const header = this.$refs.header
      if (header !== null) {
        if (window.scrollY > 200) {
          header.classList.add('sticky')
        } else {
          header.classList.remove('sticky')
        }
      }
    },
    expand() {
      this.expandMenu = !this.expandMenu
    }
  },
  created() {
    window.addEventListener('scroll', this.handleScroll)
  }
}
</script>

<style lang="scss" scoped>
@import '../assets/styles/variables';

header {
  position: relative;

  @media(min-width: 992px) {

  }

  .header-wrapper {
    padding: 0 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;

    &.sticky {
      position: fixed;
      background: $color-5;
      box-shadow: 0px 3px 16px 0px rgb(0 0 0 / 10%);
      transition: transform 500ms ease, background 500ms ease;
    }

    .navbar {
      .navbar-brand img {
        height: 2.5rem;
        width: auto;
      }

      .navbar-toggler {
        border: none;
        color: $color-1;
        font-size: 2rem;

        &:focus {
          box-shadow: none;
        }
      }

      .navbar-collapse {
        justify-content: flex-end;
      }

      .navbar-nav {
        .nav-item {
          font-size: 15px;
          font-weight: 600;
          margin: 0 .5rem;
          position: relative;

          .nav-link {
            color: $color-1;
            text-decoration: none;

            .icon {
              font-size: 10px;
            }

            .dropdown-content {
              //display: none;
              flex-direction: column;
              align-items: flex-start;
              position: absolute;
              right: 0;
              background: $white;
              box-shadow: 0 0 10px rgb(0 0 0 / 2%);
              border-radius: 3px;
              transition-duration: .6s;
              min-width: 200px;
              margin-top: .5rem;

              li {
                border: none;
                //margin: .25rem .5rem;

                a {
                  font-size: 14px;
                  font-weight: 600;
                  color: $dark;
                  transition-duration: 300ms;
                  padding: .5rem;

                  &:hover {
                    color: $color-5;
                  }
                }
              }
            }

            &.dropdown-link:hover .dropdown-content {
              display: flex;
            }
          }
        }
      }
    }
  }

  .mobile-nav {
    background: $white;
    border-radius: 3px;
    padding: 1rem;
    box-shadow: 0px 11px 20px 0px rgb(38 59 94 / 20%);
    position: relative;
    top: 0;
    margin: 0 auto 1rem;
    overflow-y: scroll;

    ul {
      list-style: none;
      padding: 0;

      li {
        margin: .5rem;
        display: block;

        a {
          padding: .5rem 1rem;
          color: $dark;
          font-size: 14px;
          font-weight: 600;
          border-bottom: 1px solid $color-10;
          display: flex;
          align-items: center;

          &:hover {
            color: $color-5;
          }

          .icon {
            margin-right: auto;
          }
        }
      }

      &.submenu {
        margin-right: 1.25rem;
      }
    }
  }
}

.drop-in-enter-active, .drop-in-leave-active {
  transition: all .3s ease-out;
}

.drop-in-enter-from, .drop-in-leave-to {
  opacity: 0;
  transform: translateY(-50px);
}

.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from, .slide-fade-leave-to {
  transform: translateY(-20px);
  opacity: 0;
}

.up-enter-active {
  transition: all 0.3s ease-out;
}

.up-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.up-enter-from, .up-leave-to {
  transform: translateY(20px);
  opacity: 0;
}
</style>
