<template>
  <transition name="fade">
    <div v-show="modalActive" class="modal-wrapper" @click="$emit('close-modal')">
      <transition name="drop-in" mode="in-out">
        <div v-show="modalActive" class="modal-inner" @click.stop>
          <slot/>
        </div>
      </transition>
    </div>
  </transition>
</template>

<script>
export default {
  name: 'VideoModal',
  props: {
    modalActive: {
      default: false,
      type: Boolean
    }
  }
}
</script>

<style lang="scss" scoped>
.modal-wrapper {
  position: absolute;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .modal-inner {
    margin-top: -1%;
    margin-right: 10%;
    max-width: 450px;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter-from, .fade-leave-to {
  opacity: 0;
}

.drop-in-enter-active, .drop-in-leave-active {
  transition: all .3s ease-out;
}

.drop-in-enter-from, .drop-in-leave-to {
  opacity: 0;
  transform: translateY(-50px);
}
</style>
