<template>
  <Header/>
  <router-view/>
  <Footer/>
  <div class="scrollUp" ref="scrollUp" @click="scrollToTop">
    <i class="fa-solid fa-chevron-up"></i>
  </div>
</template>

<script>
import Header from '@/components/Header';
import Footer from '@/components/Footer';

export default {
  components: {
    Header,
    Footer
  },
  methods: {
    handleScroll() {
      const up = this.$refs.scrollUp
      if (up !== null) {
        if (window.scrollY > 200) {
          up.style.display = 'flex'
        } else {
          up.style.display = 'none'
        }
      }
    },
    scrollToTop() {
      window.scrollTo(0, 0)
    }
  },
  created() {
    window.addEventListener('scroll', this.handleScroll)
  }
}
</script>

<style lang="scss">
@import './assets/styles/variables';

.scrollUp {
  background: $green;
  width: 35px;
  height: 35px;
  color: $white;
  position: fixed;
  bottom: 30px;
  left: 30px;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 1px 26px 0 rgb(0 0 0 / 15%);
  cursor: pointer;
}
</style>
