@import "variables";

@font-face {
  font-family: 'IranSans';
  src: url("../fonts/IRANSansWeb.eot"),
       url("../fonts/IRANSansWeb.ttf"),
       url("../fonts/IRANSansWeb.woff"),
       url("../fonts/IRANSansWeb.woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  color: $color-3;
  font-weight: 500;
  font-family: 'IranSans', sans-serif;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  color: $color-2;
  font-weight: 700;
  line-height: 1.85;
}

p {
  line-height: 2;
}

.section-padding {
  padding: 6rem 0 3rem;
}

.grey-bg {
  background: rgba(64, 84, 178, 0.05);
}

.mt-150 {
  margin-top: 150px;
}
