// styling variable comes here

$color-1: rgba(255, 255, 255, .95);
$white: #FFFFFF;
$dark: #222222;
$color-2: #3B3663;
$color-3: #696687;
$color-4: #161c2d;
$color-5: #4A00E0;
$color-6: #f4f4f4;
$green: #21c87a;
$color-7: #ebebeb;
$color-8: #7202bb;
$color-9: #8E2DE2;
$color-10: #e2e6ea;
$green-2: #04d39f;
$red-2: #ff054b
